.calendar {
	width: 920px;
	margin: 62px auto;
}

.table {
	td {
		width: 146px;
		height: 40px;
		vertical-align: middle;
	}
}

#calendar-header {
	.card-header-title {
		padding: 0 0 8px 0;
		span {
			font-size: 24px;
		}
	}
}

.selected {
	opacity: 0.6;
  }